.background {
  background:radial-gradient(rgba(91, 148, 148, 0.719),black);
}
.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 30px auto;
    background-color: whitesmoke;
   
}
.input-field input[type="text"]:hover {
    border-bottom: 1px solid #000;  
}
.input-field input[type=text]:focus:not([read-only]){
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field input[type=password]:focus:not([read-only]){
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

.input-field .prefix.active {
    color: #000;
  }
  .input-field .prefix{
      color:gray
  }
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.item{
    width:90%;
    height: 180px;
    
}
.items{
 
  height: 180px;
  
}

.home-card{
    max-width:450px;
    height: max-content;
    margin: 25px auto;
}

.table-borderless tr, .table-borderless th {
  border: none;
}
.table-borderless{

  background-color:whitesmoke;
  max-width:450px;
  margin: 5px -15px;
  position: absolute;
  z-index: 2;
  box-shadow: 1px 3px 8px #888888 ;

}

.viewbg div:not(.photo,.photo2){

  position:relative;
  z-index:0;
 filter: blur(8px);

}
.photo {
 filter: blur(0);
 filter: none;
  width: 380px;
  position: absolute;
  z-index:10;
  margin-left: 100px;
  margin-top:-150px;
}

.prfIcon{
  position: relative;
  z-index: 0;
  bottom: -100px;
  left: -80px;
  
}

.searchbar{
  width: 40%;
  padding: 15px;
  margin-left: 5%;
  font-style: oblique;

}
.search-btn{
 float: left;
  padding: 5.25px 10px;
  margin-top: -44.5px;
 margin-left: 383px;
 
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.fp-container{
  position: fixed;
  z-index: 100;
  width: 100%;
height: 100%;
top: 0;
left: 0;
background: #fafafa;
opacity: 0.4;

}

.fp-container .fp-loader{
top: 40%;
left: 48%;
z-index: 10000;
position: absolute;

}

  /*
      ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
  */
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  
  body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
  }
  

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
 

 
 
  